body{
  margin: 0px;
  padding: 0px;

}
.all{
  display: flex;
  width: 500px;
  height: 500px;
  border: 1px solid grey;
  margin: 30px;
  border-radius: 5%;
}
.words{
  display:flex;
  flex-direction: column;
  margin-left:30px; 
}

h4{
  color: grey;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 13px;
  
  font-size: 20px;
}
.title{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
}
.price {
 color: rgb(46,139,87); 
 font-size: 30px;
 font-family:sans-serif
}
p{
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.image{
  float: left;
  width: 250px;
  height: 500px;
  border-radius: 5%;
}
.box{

  width: 325px;
  height: 100px;
  background-color: rgb(46,139,87);
  border: 1px color rgb(46,139,87)
}
.box p{
color: white;
font-size: 40px;
text-align: center;

}
.pay{
  display: flex;
  flex-direction: row;
}
.pay p{
text-decoration: line-through;
margin-left: 30px;
}

.button{
display: flex;
border: none;
width: 200px;
height: 50px;
background-color: rgb(46,139,87) ;
border-radius: 10px;
}
.button p{
  display: flex;
 align-items: center;
  transform: translateX(60px);
  color: white;
 
}
.button svg{
  
}
